[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"

[tool.slotscheck]
strict-imports = true
require-subclass = true
require-superclass = true
exclude-modules = 'returns\.contrib\.mypy'
exclude-classes = 'returns\.primitives\.exceptions:UnwrapFailedError'


[tool.poetry]
name = "returns"
version = "0.19.0"
description = "Make your functions return something meaningful, typed, and safe!"
license = "BSD-3-Clause"

authors = [
  "sobolevn <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/dry-python/returns"
homepage = "https://returns.readthedocs.io"

keywords = [
  "functional programming",
  "fp",
  "monads",
  "monad",
  "monad transformers",
  "composition",
  "type-safety",
  "mypy",
  "railway-oriented-programming"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Utilities",
  "Typing :: Typed"
]

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/dry-python"

[tool.poetry.plugins.pytest11]
returns = "returns.contrib.pytest.plugin"

[tool.poetry.plugins.hypothesis]
_ = "returns.contrib.hypothesis._entrypoint"


[tool.poetry.dependencies]
python = "^3.7"

typing-extensions = ">=4.0,<5.0"

[tool.poetry.dev-dependencies]
anyio = "^3.5"
curio = "^1.5"
trio = "^0.20"
attrs = "^21.4"
httpx = "^0.22"

mypy = "^0.940"
wemake-python-styleguide = "^0.16"
flake8-pytest-style = "^1.6"
flake8-pyi = "^22.2"
# TODO: Remove this restriction when `ruamel.yaml.clib` works
# correctly with Python 3.10. That lib is a dependency of `nitpick`!
nitpick = { version = "^0.31", python = "<3.10" }
codespell = "^2.1"
slotscheck = "^0.14.0"

safety = "^1.10"

pytest = "^7.1"
pytest-cov = "^3.0"
pytest-randomly = "^3.11"
pytest-mypy-plugins = "^1.9.2"
pytest-subtests = "^0.7"
pytest-xdist = "^2.5"
hypothesis = "^6.39"

sphinx = "^4.4"
sphinx-autodoc-typehints = "^1.17"
sphinxcontrib-mermaid = "0.7.1"
sphinx-typlog-theme = "^0.8"
sphinx-hoverxref = "^1.0"
doc8 = "^0.10"
m2r2 = "^0.3"
tomlkit = "^0.10"
