[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.poetry]
name = "returns"
version = "0.15.0"
description = "Make your functions return something meaningful, typed, and safe!"
license = "BSD-3-Clause"

authors = [
  "sobolevn <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/dry-python/returns"
homepage = "https://returns.readthedocs.io"

keywords = [
  "functional programming",
  "fp",
  "monads",
  "monad",
  "monad transformers",
  "composition",
  "type-safety",
  "mypy",
  "railway-oriented-programming"
]

classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Utilities",
  "Typing :: Typed"
]

[tool.poetry.urls]
"Funding" = "https://github.com/sponsors/dry-python"

[tool.poetry.plugins.pytest11]
returns = "returns.contrib.pytest.plugin"

[tool.poetry.plugins.hypothesis]
_ = "returns.contrib.hypothesis._entrypoint"


[tool.poetry.dependencies]
python = "^3.7"

typing-extensions = "^3.7"


[tool.poetry.dev-dependencies]
anyio = "^2.0"
curio = "^1.4"
trio = "^0.17"
attrs = "^20.2"
httpx = "^0.16"

mypy = "^0.790"
wemake-python-styleguide = "^0.14"
flake8-pytest-style = "^1.2"
flake8-pyi = "^20.10"
nitpick = "^0.23"

safety = "^1.8"

pytest = "^6.1"
pytest-cov = "^2.10"
pytest-randomly = "^3.4"
pytest-mypy-plugins = "^1.6"
pytest-subtests = "^0.3"
pytest-xdist = "^2.1"
hypothesis = "^5.37"

sphinx = "^3.1"
sphinx-autodoc-typehints = "^1.11"
sphinxcontrib-mermaid = "^0.5"
sphinx-typlog-theme = "^0.8"
sphinx-hoverxref = "^0.5b1"
doc8 = "^0.8"
m2r = "^0.2"
tomlkit = "^0.7"
