[tool.poetry]
name = "returns"
version = "0.7.0"
description = "Make your functions return something meaningful, typed, and safe!"
license = "MIT"

authors = [
  "sobolevn <mail@sobolevn.me>"
]

readme = "README.md"

repository = "https://github.com/dry-python/returns"
homepage = "https://returns.readthedocs.io"

keywords = [
  "functional programming",
  "fp",
  "monads",
  "monad",
  "type-safety",
  "mypy",
  "railway-oriented-programming"
]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = "^3.6"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
mypy = "^0.701"
wemake-python-styleguide = "^0.7.0"
flake8-pytest = "^1.3"
flake8-pyi = "^19.2"

safety = "^1.8"

pytest = "^4.6"
pytest-cov = "^2.7"
pytest-randomly = "^3.0"
pytest-asyncio = "^0.10.0"

sphinx = "^2.1"
sphinx-autodoc-typehints = "^1.6"
sphinxcontrib-mermaid = "^0.3.1"
sphinx-typlog-theme = "^0.7.1"
doc8 = "^0.8.0"
m2r = "^0.2.1"
tomlkit = "^0.5.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
