# This file is used to setup env
# to generate documentation.

sphinx==3.3.1
sphinx_autodoc_typehints==1.11.1
sphinxcontrib-mermaid==0.5.0
sphinx-typlog-theme==0.8.0
sphinx-hoverxref==0.5b1
recommonmark==0.6.0
m2r==0.2.1
tomlkit==0.7.0
pygments==2.7.3

# Dependencies of our project:
typing-extensions==3.7.4.3
mypy==0.790
pytest==6.1.2
hypothesis==5.43.2
