# This file is used to setup env
# to generate documentation.

sphinx==2.4.4
sphinx_autodoc_typehints==1.10.3
sphinxcontrib-mermaid==0.4.0
sphinx-typlog-theme==0.8.0
recommonmark==0.6.0
m2r==0.2.1
tomlkit==0.6.0

# Dependencies of our project:
typing-extensions==3.7.4.2
mypy==0.770
pytest==5.4.2
