# This file is used to setup env
# to generate documentation.

sphinx==4.0.2
sphinx_autodoc_typehints==1.12.0
sphinxcontrib-mermaid==0.7
sphinx-typlog-theme==0.8.0
sphinx-hoverxref==0.6b1
recommonmark==0.7.1
m2r==0.2.1
tomlkit==0.7.2
pygments==2.9.0

# Dependencies of our project:
typing-extensions==3.10.0.0
mypy==0.910
pytest==6.2.4
hypothesis==6.14.0

# TODO: Remove this lock when we found and fix the route case.
# See: https://github.com/typlog/sphinx-typlog-theme/issues/22
jinja2==2.11.3
